
#div_dados{
    position: relative;
    text-align: center;
    left: 37%;
    background-color: rgb(181, 181, 181);
    height: 350px;
    width: 350px;
    border-radius: 5px;
    margin-top: 11%;
    box-shadow: 2px 3px black;
}

#email,#senha{
    position: relative;
    top: 10%;
    margin: 10px;
    width: 250px;
    height: 25px;
    border-radius: 4px;
    box-shadow: 1px 1px black;
}
#login_lab{
    position: relative;
    text-align: center;
    top: 10%;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

